
  <div class="row">
    <div class="nine columns">{{#link-to 'question' question.id}}{{question.title}}{{/link-to}} <br>Submitted by: {{question.author}}</div>
    <div class="three columns"><button {{action 'delete' question}}>Delete</button></div>
  </div>
