h2#Logo {
  font-family: 'Indie Flower', cursive;
    margin: 0%;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 400%;
    margin-top: 2%;
    margin-left: 16%;
}

ul.nav-bar {
  float:right;
  padding:1%;
  margin-right:5%;
  text-color:black;
}


.body {
  margin-top:5%;
}

a#ember457 {
  text-decoration: none;
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
}

li#nav {
  list-style-type: none;
}

.center-button {
  margin-left: 40%;
  margin-top: 22%;
  padding:       8px 20px;
  background:    #FCFCFC;
  border:        0px solid #569;
  box-shadow:    1px 1px 0 0 #444;
  color:         #000;
  font:          normal 700 24px/1;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-position: inside;
}

.button {
  padding:       8px 20px;
  background:    #FCFCFC;
  border:        0px solid #569;
  /*box-shadow:    1px 1px 0 0 #444;*/
  color:         #000;
  font:          normal 700 24px/1;
  font-family: 'Open Sans', sans-serif;
}


label {
  text-align: left;
}
