<div class="homepage">
{{#each model.questions as |question|}}
  {{question-canvas question=question destroyQuestion="destroyQuestion" updateQuestion="updateQuestion"}}
{{/each}}
</div>

{{new-question saveQuestion="saveQuestion"}}
